<div class="row justify-content-evenly" id="headerRow">
    <div class="col-md-4 justify-content-start">
        <app-logo></app-logo>
    </div>

    <div class="col justify-content-center align-items-center">
        <div class="row">
            &nbsp;
        </div>

        <div class="row">

            <div class="col">
                
                <app-search-bar (Searchables)="getList($event)"></app-search-bar>

            </div>

        </div>

        <div class="row">
            <div class="col">
                <p *ngIf="tips">{{ tips }}</p>
            </div>
        </div>
    </div>
</div>