#headerRow {
    background-color: whitesmoke;
    border-radius: 3px;
}

p {
    color: darkslategrey; 
    width: fit-content; 
    background: lightcoral;
    margin-top: 5px;
    margin-left: 25px;
    padding: 3px;
}